*{list-style: none; outline: none;margin: 0;border: 0; text-decoration:none}

.content{
    width: 100%;
    height: 380px;
    margin-left: 0;
    margin-right: 0;
    background-image: url("102.jpg");
    background-repeat:no-repeat;
    /*background-color: #e4b9b9;*/
    position: relative;
}
.content .img{
    position: absolute;
    width:100px;
    height:100px;
    border-radius:50%;
    background-color: white;
    left: 700px;
    top: 80px;
}
.content  .userName{
    position: absolute;
    width:100px;
    height:40px;
    line-height:30px;
    /*background-color: #2caf6f;*/
    text-align: center;
    left: 700px;
    top: 190px;
    color: white;
    font-size: 30px;
}
.content  .attentionNumber{
    width: 50px;
    height: 20px;
    position: absolute;
    left:725px;
    top:240px ;
    /*background-color:#1b6d85;*/
    text-align: center;
    color: white;
}
.content  .attention{
    width:40px;
    height:30px;
    position:absolute;
    left:730px;
    top:270px;
    /*background-color:#2caf6f;*/
    text-align: center;
    color: white;
}
 .content .attentionNumber:hover{
    color:blue;
}

 .main-content{
     position:relative;
     width:100%;
     height:500px;
     background-color: #2aabd2;
 }
 .main-content   .main-contents{
     position: absolute;
     width: 1200px;
     height: 500px;
     background-color: #e4b9b9;
     left:150px ;
 }
 .main-content  .main-contents   a{
     width:60px;
     height:30px;
     float: left;
     background-color: #2caf6f;
     margin-right:60px;
     margin-top:20px;
     color: white;
     text-align: center;
     line-height: 20px;
     /*display: inline-block;*/
     cursor: pointer;

 }
/*.main-content   p{*/
/*    display: none;*/
/*}*/



.main-content  .main-contenone{
    position: absolute;
    width: 1200px;
    height: 400px;
    background-color:rebeccapurple;
    left:150px ;
    top: 100px;
    display:none;

}
.main-content  .main-contentwo{
    position: absolute;
    width: 1200px;
    height: 400px;
    background-color:fuchsia;
    left:150px ;
    top: 100px;
    /*z-index: -100;*/
    display: none;
}

.main-content  .main-contenthree{
    position: absolute;
    width: 1200px;
    height: 400px;
    background-color:powderblue;
    left:150px ;
    top: 100px;
    /*z-index: -100;*/
    display: none;
}
.main-content  .main-contenfour{
    position: absolute;
    width: 1200px;
    height: 400px;
    background-color:deeppink;
    left:150px ;
    top: 100px;
    /*z-index: -100;*/
    display: none;
}









