
/*=================== 设置单元格最小宽度 ===================*/
.layui-table td, .layui-table th{
    min-width: 48px!important;
}
/*=================== 设置单元格高度 ===================*/
.layui-table-cell {
    height: 40px;
    line-height: 40px;
}

/*=================== 查看信息样式 ===================*/
body .info-class .layui-layer-title {
    background: #019587;
    color: #fff;
    border: none;
}

body .info-class .layui-layer-btn {
    border-top: 1px solid #E9E7E7
}

body .info-class .layui-layer-btn a {
    background: #01b4a4;
    border: none
}

body .info-class .layui-layer-btn .layui-layer-btn1 {
    background: #999;
}

body .info-class .layui-layer-content {
    font-size: 14px;
}

/*=================== 删除警告样式 ===================*/
body .warn-skin .layui-layer-title{
    background: #FF5722;
    color: #fff;
    border: none;
}

body .warn-skin .layui-layer-content {
    color: #FF5722;
    font-size: 14px;
}
/*取消按钮*/
body .warn-skin .layui-layer-btn .layui-layer-btn1 {
    border-color: #1E9FFF;
    background-color: #1E9FFF;
    color: #fff;
}
/*确定按钮*/
body .warn-skin .layui-layer-btn .layui-layer-btn0 {
    background: #fff;
    color: #333;
    border: 1px solid #dedede;
}

/*=================== 验证密码样式 ===================*/
body .check-skin .layui-layer-title{
    color: #FF5722;
    font-size: 14px;
}