body, ul, h3, h4,p{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}


.clear_float:after{
    content: "";
    display: block;
    clear: both;
}


.comment{
    font-family: "Microsoft Yahei";
    background-color: #fff;
    margin-left: 30px;
    width: 65%;
}
.cmt_hd{
    position: relative;
    height: 50px;
    overflow: hidden;
}
.cmt_title{
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    line-height: 50px;
}
.cmt_title_desc{
    font-size: 14px !important;
    font-weight: 300;
    color: #bfbfbf;
    margin-left: 10px;
}


.cmt_text{
    position: relative;
}
.cmt_textarea{
    position: relative;
    font-size: 14px;
    color: #ccc;
    width: 100%;
    padding: 15px;
    background: #f0f0f0;
    border: 1px solid #e3e3e3;
    border-radius: 1px;
    box-sizing: border-box;
}
.cmt_input{
    height: 200px;
    outline: none;
}
.cmt_tip{
    text-align: right;
    color: #ccc;
}
.cmt_btn{
    float: right;
    width: 100px;
    height: 30px;
    margin-top: 15px;
    margin-left: 10px;
    background-color: #31c27c;
    color: #fff;
    border: 1px solid #31c27c;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
}
.emoji_ico{
    display: inline-block;
    line-height: 42px;
    float: right;
    margin-top: 15px;
}
.emoji_ico i{
    font-size: 24px;
    color: #73d8a8;
    cursor: pointer;
}


/*====hover事件====*/
.cmt_btn:hover{
    background-color: #21be69;
}
.emoji_ico i:hover,
.nickname a:hover,
.cmt_hit:hover,
.cmt_reply:hover{
    color: #84fac1;
}


.cmt_type_title h3{
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    padding: 15px 0;
}

.cmt_list_item{
    position: relative;
    padding: 15px 0 15px 48px;
    background-color: #fffffe;
    border-top: 1px solid #f0f0f0;
}
.cmt_list_item:last-child{
    border-bottom: 1px solid #f0f0f0;
}

.show_all{
    margin-top: 10px;
    text-align: center;
    color: #d0d0d0;
}

.avatar{
    position: absolute;
    top: 15px;
    left: 0;
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #f8f8f8;
}
.avatar img{
    transform: scale(1);
    transition: all .75s ease-in-out;
    width: 100%;
}
.nickname{
    text-align: left;
    margin-bottom: 10px;
}
.nickname a{
    font-size: 18px;
    color: #8c8c8c;
    font-weight: 300;
    cursor: pointer;
}
.cmt_txt{
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-align: justify;
}
.cmt_txt a{
    color: #84fac1;
}
.cmt_history{
    margin: 5px 0 5px 10px;
    padding-left: 10px;
    border-left: 1px solid #b9b9b9;
    color: #ddd;
}

.cmt_opt{
    width: 100%;
    font-size: 14px;
    line-height: 28px;
    font-family: "微软雅黑 Light";
    color: #9d9d9d;
}
.cmt_date{
    float: left;
}
.cmt_hit{
    float: right;
    margin-right: 15px;
    cursor: pointer;
}
.cmt_reply{
    float: right;
    cursor: pointer;
}