<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">


    <servlet>
        <description></description>
        <display-name>loginAction</display-name>
        <servlet-name>loginAction</servlet-name>
        <servlet-class>loginAction.login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginAction</servlet-name>
        <url-pattern>/loginAction/login</url-pattern>
    </servlet-mapping>


    <servlet>
        <description></description>
        <display-name>exit</display-name>
        <servlet-name>exit</servlet-name>
        <servlet-class>loginAction.exit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>exit</servlet-name>
        <url-pattern>/loginAction/exit</url-pattern>
    </servlet-mapping>




    <filter>
        <display-name>encodingFilter</display-name>
        <filter-name>encodingFilter</filter-name>
        <filter-class>Filter.encodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <display-name>loginFilter</display-name>
        <filter-name>loginFilter</filter-name>
        <filter-class>Filter.loginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/index.html</url-pattern>
        <url-pattern>/login.html</url-pattern>
    </filter-mapping>





    <servlet>
        <description></description>
        <display-name>singerGet</display-name>
        <servlet-name>singerGet</servlet-name>
        <servlet-class>Controller.singer.SingerGet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>singerGet</servlet-name>
        <url-pattern>/singer/get</url-pattern>
    </servlet-mapping>




    <servlet>
        <description></description>
        <display-name>ToJSON</display-name>
        <servlet-name>ToJSON</servlet-name>
        <servlet-class>view.ToJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ToJSON</servlet-name>
        <url-pattern>/view/ToJSON</url-pattern>
    </servlet-mapping>



</web-app>
