body{
    background-image: linear-gradient(to bottom ,#fff, #fff)!important;
}

.main{
    width: 90%;
    margin: 0 auto;
}

.mv_part{
    background-color: #333;
}
.mv_inner{
    width: 90%;
    margin: 0 auto;
}
.mv_play{
    width: 100%;
}
.mv_play video{
    width: 100%;
    outline: none;
}
.mv_tip{
    position: relative;
    height: 78px;
    line-height: 78px;
    background-color: #333;
}
.mv_title{
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
}
.mv_listen{
    margin-left: 10px;
    font-size: 14px;
    color:#b9b9b9;
}
.mv_btn{
    position: absolute;
    right: 0;
    top: 0;
}
.mv_btn i{
    margin: 0 10px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
.mv_btn i:hover{
    color: #31c27c;
}

.mv_info{
    font-size: 14px;
    margin: 15px 0 30px 0;
    line-height:30px;
}
.mv_info_title{
    font-size: 24px;
}
.mv_singer{
    display: inline-block;
}
.mv_info_date{
    display: inline-block;
    margin-left: 20px;
}



/*==== 隐藏控件 ====*/
video::-webkit-media-controls-fullscreen-button {
    display: none;
}
video::-webkit-media-controls-mute-button{
    display: none;
}
video::-webkit-media-controls-toggle-closed-captions-button {
    display: none;
}