.content{
    margin-top: 20px;
    width:100%;
    height: 200px;
    position: absolute;
    color: black;
}

.contentShow{
    width: 100%;
    height: 100%;
    position: absolute;
    color: black;
    /*text-align: center;*/
}

.contentShow li{
    list-style: none;
    font-size: 30px;
    margin-left: 40px;
    color: black;
    float: left;
}

.contentShow li:hover{
    color: red;

}

.ChinaShow,
.EuramericaShow,
.KoreaShow,
.JapanShow,
.ElseShow
{
    width: 100%;
    height: 400px;
    display:none;
    position: absolute;
}
