.content{
    width:100%;
    height:500px;
    position: absolute;
    color: black;
    background-color: #5bc0de;
}

.contentShow{
    width: 100%;
    height: 100%;
    position: absolute;
    color: black;
}

.contentShow a{
    color: black;
    float: left;
}

.ChinaShow,
.EuramericaShow,
.KoreaShow,
.JapanShow,
.ElseShow
{
    width: 100%;
    height: 400px;
    display:none;
    position: absolute;
}
