.content{
    margin-top: 20px;
    width:100%;
    height: 200px;
    position: absolute;
    color: black;
    text-align: center;
}

.content .contentShow{
    margin-left: 10%;
    width: 80%;
    height: 100%;
    position: absolute;
    color: black;
    font-weight: normal;
    /*text-align: center;*/
}
.content .contentShow li{
    list-style: none;
    font-size: 30px;
    margin-left: 54px;
    color: black;
    float: left;
}

.content .contentShow li:hover{
    color: red;
    cursor: pointer;
}

.ChinaShow,
.EuramericaShow,
.KoreaShow,
.JapanShow,
.ElseShow
{
    margin-top: 80px;
    width: 100%;
    height: 300px;
    display:none;
    position: absolute;
}




 .alphabet{
    width: 100%;
    margin-top: 100px;
    position: absolute;
}
 .alphabet ul{
    text-align: center;
     display: table;
     margin: 0 auto;
}

 .alphabet ul li{
     float: left;
    display: inline;
     padding: 5px;
    font-size: 25px;
    font-weight: normal;
    list-style: none;
    color: black;
}
.alphabet ul li a{
    list-style: none;
    color: black;
}

.alphabet ul li:hover a{
    color: red;
}
